@{
    ViewData["Title"] = "Game";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<script src="~/js/stsEngineClient/client.js"></script>
<script src="~/js/stsEngineExample/client.js"></script>
<script src="~/js/app.js"></script>

<div id="content"></div>